/* ######### Marker List Vertical Menu ######### */
.markermenu {
	width: 175px; /*width of side bar menu*/
	clear: left;
	position: relative;
	/*Preserve this for "right" arrow images (added by script) to be positioned correctly*/
}

.markermenu ul {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
	/*border: 1px solid #9A9A9A;*/
}

.markermenu ul li a {
	background: url(../../resources/images/sidebar_menu_top.gif) no-repeat center top;
	color: #fff;
	display: block;
	width: 185px;
	height: 31px;
	margin: 0 0 5px 0;
	line-height: 31px;
	padding: 0px 0 0 10px;
	text-decoration: none;
	/*border-bottom: 1px solid #B5B5B5;*/
}

* html .markermenu ul li a { /*IE6 hack*/
	width: 155px;
}

.markermenu ul li a:visited,.markermenu ul li a:active {
	color: #fff;
}

.markermenu ul li a:hover,.markermenu ul li a.selected {
	color: white;
	/*background-color: black;*/
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */
.blackwhite li a {
	background: white;
}

.blackwhite li a:hover {
	background: black;
	color: white;
}