table.tabborder {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

table.tabborder th,table.tabborder td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: black;
	background-color: white;
}

.bold8 {
	width: 50px;
	font-size: 7pt;
	font-family: verdana, arial, serif;
	text-align: center;
	font-weight: bold;
}

.pt8 {
	width: 50px;
	font-size: 8pt;
	font-family: verdana, arial, serif;
	text-align: center;
}
