@charset "utf-8";
/* CSS Document */

/*********************************************************************************/
/* FONTS                                                                         */
/*********************************************************************************/
@font-face {
	font-family: "Arvo";
	font-style: normal;
	font-weight: 700;
	src: local("Arvo Bold"), local("Arvo-Bold"),
		url("http://themes.googleusercontent.com/static/fonts/arvo/v5/0Aa8aBJcGN1n1zDNhqNrnQ.woff")
		format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
		url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff")
		format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
		url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff")
		format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"),
		url("http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff")
		format("woff");
}

body,input,textarea,select {
	font-family: 'Source Sans Pro';
	font-weight: 400;
}

body {
	background-color: rgb(2, 100, 127);
	padding-bottom: 20px;
	background: #02647F; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(149, 184, 195, 1) 0%,
		rgba(108, 156, 172, 1) 15%, rgba(22, 115, 146, 1) 67%,
		rgba(16, 84, 106, 1) 83%, rgba(10, 51, 64, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(149,
		184, 195, 1)), color-stop(15%, rgba(108, 156, 172, 1)),
		color-stop(67%, rgba(22, 115, 146, 1)),
		color-stop(83%, rgba(16, 84, 106, 1)),
		color-stop(100%, rgba(10, 51, 64, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(149, 184, 195, 1) 0%,
		rgba(108, 156, 172, 1) 15%, rgba(22, 115, 146, 1) 67%,
		rgba(16, 84, 106, 1) 83%, rgba(10, 51, 64, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(149, 184, 195, 1) 0%,
		rgba(108, 156, 172, 1) 15%, rgba(22, 115, 146, 1) 67%,
		rgba(16, 84, 106, 1) 83%, rgba(10, 51, 64, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(149, 184, 195, 1) 0%,
		rgba(108, 156, 172, 1) 15%, rgba(22, 115, 146, 1) 67%,
		rgba(16, 84, 106, 1) 83%, rgba(10, 51, 64, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(149, 184, 195, 1) 0%,
		rgba(108, 156, 172, 1) 15%, rgba(22, 115, 146, 1) 67%,
		rgba(16, 84, 106, 1) 83%, rgba(10, 51, 64, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#95b8c3',
		endColorstr='#0a3340', GradientType=0); /* IE6-9 */
	overflow: hidden;
}

body,p,h1,h2,h3,h4,h5,ol,ul,li,tr,th,td,table {
	margin: 0;
	padding: 0;
}

ul,ol,li {
	list-style: none;
	list-style-position: outside;
}

#main_wrapper {
	margin: 0 12% auto;
}

#main_container {
	background-color: transparent;
	min-width: 755px;
	padding: 10px 0 0;
}

/********************************************
*                Footer						*
********************************************/
#footer {
	padding: 0 12%;
	background-color: #D4D6D7;
	height: 60px;
	width: 76%;
	position: absolute;
	bottom: 0;
	min-width: 779px;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
#nav {
	cursor: default;
}

#nav>ul>li {
	-moz-user-select: none;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
	cursor: pointer;
	opacity: 1;
	white-space: nowrap;
	margin: 0 0 3px;
	width: 230px;
}

#nav>ul>li>a {
	border: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: #777;
	outline: 0;
}

#nav>ul>li>a:before {
	display: inline-block;
	background: #878787;
	color: #e4e4e4;
	width: 1.65em;
	height: 1.65em;
	border-radius: 1.65em;
	line-height: 1.65em;
	text-align: center;
	box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
	-moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out, background 0.25s
		ease-in-out;
	-o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}

#nav>ul>li>a>span {
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

#nav>ul>li:hover {
	
}

#nav>ul>li:hover>a:before {
	background: #ED786A;
	color: #fff;
}

#nav>ul>li:hover>a>span {
	color: #ED786A;
}

#nav>ul>li.active {
	
}

#nav>ul>li.active>a {
	
}

#nav>ul>li.active>a:before {
	background: #ED786A;
	color: #fff;
}

#nav>ul>li.active>a>span {
	color: #ED786A;
}

#nav {
	background-color: aliceblue;
	border-style: solid;
	boder-size: 1px;
	border-radius: 10px 10px 10px 10px;
	position: absolute;
}

#nav .dropdown {
	padding: 0;
}

#nav .nav_label {
	display: inline-block;
	width: 35%;
	padding: 0 10px 0 0;
}

.nav_top {
	border-bottom: 1px solid black;
	font-size: 1.15em;
	font-variant: small-caps;
	padding-left: 3px;
}

.nav_top select {
	width: 50%;
	margin-bottom: 3px;
}

.nav_dir {
	background-color: deepskyblue;
}

.nav_sub {
	background-color: aliceblue;
	font-size: .5em;
	display: none;
	cursor: pointer;
}

/********************************************
*                Header						*
********************************************/
#logout {
	background-color: #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	padding: 4px;
	position: absolute;
	right: 12%;
	top: 20px;
	cursor: pointer;
	text-decoration: underline;
	font-variant: small-caps;
}

#header {
	padding: 0 12%;
	background: #B0B0B0; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181, 189, 200, 1) 0%,
		rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(181,
		189, 200, 1)), color-stop(36%, rgba(130, 140, 149, 1)),
		color-stop(100%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181, 189, 200, 1) 0%,
		rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181, 189, 200, 1) 0%,
		rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181, 189, 200, 1) 0%,
		rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%,
		rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#b5bdc8',
		endColorstr='#28343b', GradientType=0); /* IE6-9 */
	height: 100px;
	min-width: 779px;
}

.header_logo {
	display: inline;
	height: 100%;
}

.header_slogan {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	font-variant: small-caps;
	text-align: center;
}

.header_slogan h1 {
	color: #0099FF;
	font-family: 'Arvo';
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 5px;
	text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
}

.header_slogan p {
	color: #FFFFFF;
	letter-spacing: 3px;
}

.header_nav {
	background-color: #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	font-variant: small-caps;
	float: right;
	position: relative;
	top: 20px;
	padding: 4px;
}

.header_nav>a {
	cursor: pointer;
}

.header_nav>a>span {
	color: #000;
}

.header_nav>a:hover>span {
	color: #ED786A;
}

.header_nav>span.vertical_bar1 {
	border-color: #000;
}

.header_nav>a:hover>span {
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

/********************************************
*                INPUTS						*
********************************************/
.error {
	color: #FF0000;
}

.input-append .add-on,.input-prepend .add-on {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	width: auto;
}

.input-prepend .add-on,.input-prepend .btn {
	border-radius: 4px 0 0 4px;
}

.input-prepend .add-on,.input-prepend .btn { /*
    margin-right: -1px;*/
	vertical-align: top;
}

form div.input-prepend {
	margin: 0 0 2px;
}

form {
	margin: 0 auto;
}

.label {
	text-align: right;
	padding-right: 10px;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	position: relative;
	left: -4px;
	font-size: 14pt;
	padding-top: 2px;
}

td>textarea,td>input[type="text"],td>input[type="password"],td>input[type="datetime"],td>input[type="datetime-local"],td>input[type="date"],td>input[type="month"],td>input[type="time"],td>input[type="week"],td>input[type="number"],td>input[type="email"],td>input[type="url"],td>input[type="search"],td>input[type="tel"],td>input[type="color"],td>.uneditable-input
	{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	position: relative;
	left: 0;
	font-size: 14pt;
	padding-top: 2px;
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

<!--
select,removed from css below -->textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	border-radius: 0 4px 4px 0;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 4px 6px;
	vertical-align: middle;
}

/********************************************
*                Content					*
********************************************/
#content_wrapper {
	clear: left;
	background-color: aliceblue;
	vertical-align: top;
	border-style: solid;
	boder-size: 1px;
	border-radius: 10px 10px 10px 10px;
	padding: 5px 0;
	margin-left: 255px;
}

#content_menu {
	padding: 5px 0 0;
	border-bottom: 1px solid black;
}

#content_menu ul {
	padding: 0 0 0 6px;
}

#content_menu ul>li {
	background-color: red;
	color: white;
	border-radius: 10px 10px 0 0;
	border: 1px black solid;
	display: inline-block;
	margin: -3px;
	padding: 0 0 0 3px;
	width: 135px;
	cursor: pointer;
}

#content_menu_sub {
	padding: 2px 5px;
	border-bottom: 1px solid black;
}

#content_menu_sub ul>li {
	display: inline-block;
	background-color: orange;
	border: 1px black solid;
	cursor: pointer;
}

#content {
	overflow: auto;
}

#content table {
	min-width: 99.5%;
	border-collapse: collapse;
}

#content table,#content table  tr  th,#content table  tr  td {
	border: 1px solid black;
	padding: 0 10px 0 0;
}

.checkbox {
	text-align: center;
	padding: 0 !important;
}

#content table .odd {
	background-color: gray;
}

#content table .even {
	background-coor: lightgray;
}

/********************************************
*                MISC						*
********************************************/
.hidden {
	display: none;
}

.overlay_full {
	background-color: rgba(204, 204, 204, 0.4);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.center_absolute {
	bottom: 50%;
	left: 50%;
	position: absolute;
	right: 50%;
	top: 50%;
}

.error {
	border-color: rgba(255, 0, 0, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(255, 0, 0, 0.6) !important;
	outline: 0 none;
}

.valid {
	border-color: rgba(0, 255, 0, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(0, 255, 0, 0.6) !important;
	outline: 0 none;
}

.active {
	border-color: rgba(82, 168, 236, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(82, 168, 236, 0.6) !important;
	outline: 0 none;
}

.vertical_bar1 {
	border-right: 1px solid;
	display: inline-block;
	height: 30px;
	margin: 0 20px;
	vertical-align: middle;
	width: 0;
}

.hor_line_120 {
	border-top: 1px solid black;
	display: inline-block;
	height: 3px;
	width: 120px;
	margin: 0 5px;
}