.font_0 {
    color: #636769;
    font: 42px/1.4em "Charcoal","Impact","sans-serif";
}
.font_0_N {
    color: #636769;
    font: 3em "Charcoal","Impact","sans-serif";
}
.font_1 {
    color: #01153B;
    font: 15px/1.4em "Play","sans-serif";
}
.font_2 {
    color: #01153B;
    font: 24px/1.4em "Play","sans-serif";
}
.font_3 {
    color: #01153B;
    font: 63px/1.4em "Play","sans-serif";
}
.font_4 {
    color: #01153B;
    font: 40px/1.4em "Charcoal","Impact","sans-serif";
}
.font_5 {
    color: #01153B;
    font: 25px/1.4em "Play","sans-serif";
}
.font_6 {
    color: #01153B;
    font: 18px/1.4em "Play","sans-serif";
}
.font_7 {
    color: #01153B;
    font: 17px/1.4em "Open Sans","sans-serif";
}
.font_8 {
    color: #01153B;
    font: 14px/1.4em "Open Sans","sans-serif";
}
.font_9 {
    color: #01153B;
    font: 12px/1.4em "Open Sans","sans-serif";
}
.font_10 {
    color: #01153B;
    font: 11px/1.4em "Open Sans","sans-serif";
}
.font_11 {
	font-family: Impact;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4em;
}
.color_0 {
    color: #FFFFFF;
}
.backcolor_0 {
    background-color: #FFFFFF;
}
.color_1 {
    color: #FFFFFF;
}
.backcolor_1 {
    background-color: #FFFFFF;
}
.color_2 {
    color: #000000;
}
.backcolor_2 {
    background-color: #000000;
}
.color_3 {
    color: #FFCB05;
}
.backcolor_3 {
    background-color: #FFCB05;
}
.color_4 {
    color: #ED1C24;
}
.backcolor_4 {
    background-color: #ED1C24;
}
.color_5 {
    color: #0088CB;
}
.backcolor_5 {
    background-color: #0088CB;
}
.color_6 {
    color: #727272;
}
.backcolor_6 {
    background-color: #727272;
}
.color_7 {
    color: #B0B0B0;
}
.backcolor_7 {
    background-color: #B0B0B0;
}
.color_8 {
    color: #FFFFFF;
}
.backcolor_8 {
    background-color: #FFFFFF;
}
.color_9 {
    color: #727272;
}
.backcolor_9 {
    background-color: #727272;
}
.color_10 {
    color: #B0B0B0;
}
.backcolor_10 {
    background-color: #B0B0B0;
}
.color_11 {
    color: #FFFFFF;
}
.backcolor_11 {
    background-color: #FFFFFF;
}
.color_12 {
    color: #D4D6D7;
}
.backcolor_12 {
    background-color: #D4D6D7;
}
.color_13 {
    color: #636769;
}
.backcolor_13 {
    background-color: #636769;
}
.color_14 {
    color: #313538;
}
.backcolor_14 {
    background-color: #313538;
}
.color_15 {
    color: #181A1C;
}
.backcolor_15 {
    background-color: #181A1C;
}
.color_16 {
    color: #9AB4E5;
}
.backcolor_16 {
    background-color: #9AB4E5;
}
.color_17 {
    color: #688BCC;
}
.backcolor_17 {
    background-color: #688BCC;
}
.color_18 {
    color: #0340B2;
}
.backcolor_18 {
    background-color: #0340B2;
}
.color_19 {
    color: #022B76;
}
.backcolor_19 {
    background-color: #022B76;
}
.color_20 {
    color: #01153B;
}
.backcolor_20 {
    background-color: #01153B;
}
.color_21 {
    color: #FFAAAA;
}
.backcolor_21 {
    background-color: #FFAAAA;
}
.color_22 {
    color: #FF7F7F;
}
.backcolor_22 {
    background-color: #FF7F7F;
}
.color_23 {
    color: #FF0000;
}
.backcolor_23 {
    background-color: #FF0000;
}
.color_24 {
    color: #A90000;
}
.backcolor_24 {
    background-color: #A90000;
}
.color_25 {
    color: #540000;
}
.backcolor_25 {
    background-color: #540000;
}
.color_26 {
    color: #9DD9E9;
}
.backcolor_26 {
    background-color: #9DD9E9;
}
.color_27 {
    color: #6CBDD4;
}
.backcolor_27 {
    background-color: #6CBDD4;
}
.color_28 {
    color: #0396BF;
}
.backcolor_28 {
    background-color: #0396BF;
}
.color_29 {
    color: #02647F;
}
.backcolor_29 {
    background-color: #02647F;
}
.color_30 {
    color: #01323F;
}
.backcolor_30 {
    background-color: #01323F;
}
.color_31 {
    color: #FFD8AA;
}
.backcolor_31 {
    background-color: #FFD8AA;
}
.color_32 {
    color: #FFC57F;
}
.backcolor_32 {
    background-color: #FFC57F;
}
.color_33 {
    color: #FF8C00;
}
.backcolor_33 {
    background-color: #FF8C00;
}
.color_34 {
    color: #A95D00;
}
.backcolor_34 {
    background-color: #A95D00;
}
.color_35 {
    color: #542E00;
}
.backcolor_35 {
    background-color: #542E00;
}
