/*
	Strongly Typed 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.75em;
		font-size: 12pt;
	}

	h2
	{
		margin: 0 0 1em 0;
	}

	h3
	{
		margin: 0 0 1em 0;
	}

	h2 br, h3 br, h4 br, h5 br, h6 br
	{
		display: none;
	}

	/* Images */

		.image
		{
		}

			.image-full
			{
				margin: 0 0 2.5em 0;
			}
			
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
	}

	#features-wrapper
	{
		padding: 4em 0 4em 0;
	}
	
	#banner-wrapper
	{
		padding: 2em 0 2em 0;
	}
	
	#main-wrapper
	{
		padding: 4em 0 4em 0;
	}
	
	#footer-wrapper
	{
		padding: 4em 0 6em 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	padding: 6.5em 0 0 0;
	}

		#header h1
		{
			font-size: 2.5em;
		}
		
		#header p
		{
		margin: 1em 0 0 0;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul > li
		{
			padding-right: 1.25em;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
	#banner
	{
		padding: 7em 0 7em 0;
	}
		
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin-top: 5em;
		padding-top: 2em;
	}
