html,body { /* Prevent "borders" from appearing */
	padding: 0;
	margin: 0;
}

#bgs { /* Let the container fill the whole window */
	width: 100%;
	height: 100%;
}

#bgs>div { /* Set the height and width of each div to 50% */
	width: 50%;
	height: 50%;
}

.right {
	float: right;
} /* Align to the right */
.left {
	float: left;
} /* Align to the left */
.leftcol {
	text-align: center;
	width: 500px;
	height: 20px;
	background-color: #CCCCCC;
}

.leftcolheader {
	text-align: center;
	width: 500px;
	height: 20px;
	font-weight: bold;
	background-color: #CCCCCC;
}

h1,h2,h3,h4,h5,h6,address {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #CCCCCC;
	font-size: 14pt;
}

#formbuttons {
	text-align: center;
	margin-top: 5px
}

#formbuttons input {
	margin: 0px 10px;
	color: white;
	background-color: rgb(51, 102, 153);
	width: 100px;
	text-align: center
}

address {
	font-style: normal;
	font-size: 10pt;
	border-top: 2px solid rgb(51, 102, 153);
	margin-top: 0px;
	text-align: center
}